# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
.DS_Store

# Fichiers de données temporaires
*.csv
!full_dataset.csv  # On garde le fichier de données du TP

# Fichiers de configuration
.env
.env.local 